.options-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Divide em 4 colunas de largura igual */
    gap: 10px; /* Espaçamento entre os botões */
  }
  
  .active {
    /* Estilos para o botão ativo */
    background-color: #005CA9;
    /* Exemplo de cor de fundo azul */
    color: white; /* Exemplo de cor do texto branco */
    /* Outros estilos desejados */
  }